Adafruit-Blinka
Adafruit-Blinka-Raspberry-Pi5-Neopixel
facenet-pytorch
gpiozero
hailort
insightface
numpy
onnx
picamera2
psutil
pywizlight
requests
ddgs
sounddevice
soundfile
vosk
thefuzz
mcp
python-dotenv
